<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title> <!--Title for the webpage-->
    <script src="~/js/gradeCalculator.js"></script><!--Allows access to the grade calculator js file-->
    <link rel="icon" type="image/x-icon" href="~/img/mouseEars.png" /> <!--sets up the webpage icon photo-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> <!--Allows access to the Bootstrap stylesheet-->
    <link href="~/css/myStyles.css" rel="stylesheet" /><!--Allows access to the myStyles stylesheet-->
</head>

<body>

    <nav>
        <!--Navigation bar-->
        <a asp-controller="More" asp-action="Index">Home</a> <!--Homepage navigation link-->
        <a asp-controller="More" asp-action="GradeCalculator">Grade Calculator</a> <!--Grade calculator navigation link-->
    </nav>

    <div>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script><!--Allows access to the Bootstrap js files-->
        <script src="~/lib/jQuery/jquery-3.6.0.min.js"></script><!--Allows access to the jQuery files-->
        <h1>@ViewData["Header1"]</h1><!--Gets the header information from the layout-->
        @RenderBody()<!--Renders the body for the specific view-->
    </div>

</body>

</html>
